 <script>
  var image = <%= raw @image %>
  var localizationp= <%= raw @localization %>
  var latitudep= <%= raw @latitude %>
  var longitudep= <%= raw  @longitude %>
  var radiusp= <%= raw @radius %>
  var op1= <%= raw  @op1 %>
  var op2= <%= raw  @op2 %>
  var op3= <%= raw  @op3 %>
  var op4= <%=  raw @op4 %>
  var op5= <%= raw  @op5 %>
  var op6= <%= raw  @op6 %>
 </script>


<div class="menu">
  <nav class="nav nav-open">
    <div class="header">
      <br />
      <img src="./images/sportsmaps.png" id="logo-header" alt="Logotipo Outdoor Sports Maps" />
    </div>

    <div class="wrap">
      <%= form_tag :action => 'loadData' do %>
        <% if flash[:notice]%>
          <div class="notice alert alert-danger" id="alert"><%= flash[:notice] %></div>
        <% else %>
          <div class="gap"></div>
        <% end %>
        <div class="form-group">
          <label class="sr-only" for="localization">Or enter the desired address</label>
          <div class="input-group">
            <div class="input-group-btn">
              <label class="sr-only">Click to get your localization</label>
              <button type="button" class="btn btn-default btn-sm" onClick="getLocalization()" id="btnLocalization" alt="Get your localization"></button>
            </div>
            <input type="text" class="form-control" name="sports_map[localization]" id="localization" placeholder="Address" />
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary btn-sm" onClick="search()" id="searchLocalization">Search</button>
            </div>
          </div>
        </div>
        
        <input type="text" name="sports_map[latitude]" id="latitude" />	
        <input type="text" name="sports_map[longitude]" id="longitude" />
        
        <div class="form-group">
    	    <label class="sr-only" for="radius">Enter the coverage distance in kilometers</label>
    	    <input type="number" class="form-control" name="sports_map[radius]" id="radius" placeholder="Coverage in Km" onkeypress='return onlyNumber(event)' />
  	    </div>
  	    <br />
        <div>
          <label>Data to be considered:</label>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox checkbox-primary" name="sports_map[options][1]" id="air-quality" value="air-quality" />
              Air pollution
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="sports_map[options][3]" id="humidity" value="humidity" />
              Humidity
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="sports_map[options][4]" id="temperature" value="temperature" />
              Temperature
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="sports_map[options][2]" id="ultraviolet" value="ultraviolet" />
              UV Index (ultraviolet)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="sports_map[options][5]" id="green-areas" value="green-areas" />
              Green areas
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="sports_map[options][6]" id="bike-paths" value="bike-paths" />
              Bike paths
            </label>
          </div>
        </div>
        <br />
        <div id="submit-position">
          <input type="submit" class="btn btn-primary" id="submit" value="Submit" />
        </div>
      <% end %>
  	</div>
  </nav>
</div>

<div id="map-container">
  <div id="map-canvas"> </div>
</div>

<div id="legend">
  <div id="legend-labels" class="left">
    Good
  </div>
  <div id="legend-labels" class="right">
    Bad
  </div>
  <div id="caption-color"> </div>
</div>