// Place all the styles related to the SportsMaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html {
  height: 100%;
}

#submit-position {
  width: 100%;
  text-align: right;
}

.content {
  width: 100%;
  height: 100%;
}

.header {
  padding: 0px;
}

#logo-header {
  width: 100%;
  padding: 3%;
}

#alert, .gap {
  height: 20px;
  padding: 0;
  margin: 5% 0% 2% 0%;
}

#radius{
  height: 30px;
}

#localization {
  height: 30px;
}

#map-container {
  height: 100%;
  width: 100%;
  margin-top: 0px;
}

#map-canvas {
  height: 100%;
  min-width: 70%;
}
 
/* Bootstrap Css Map Fix*/
#map-container #map-canvas img {
  max-width: none;
  max-height: none;
}

/* Bootstrap Css Map Fix*/
#map-container #map-canvas label {
  width: auto;
  height: auto;
  display: inline;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0% 3% 3% 3%;
}
       
.nav {
  background: #FFF;
  z-index: 215;
  position: relative;
  width: 30%;
  max-width: 315px;
  max-height: 100%;
  font-size: 1em;
  float: left;
  background: white;
  overflow-y: auto;
}
       
.nav ul {
  padding: 1em;
}
       
li {
  display: block;
  width: 100%;
  margin: 1em 2em 1em 0;
}
       
a {
  text-decoration: none;
  color: #FFF;
}
       
a:hover {
  color: red;
}
       
.nav-toggle {
  display: none;
}
       
.picture {
  width: 78%;
  float: right;
}

#caption-color {
  display: inline-block;
  margin-top: 3px;
  width: 100%;
  height: 15px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), color-stop(0.5, yellow), to(green));
  background-image: -webkit-linear-gradient(to left, red, yellow, green);
  background-image: -moz-linear-gradient(to left, red, yellow, green);
  background-image: -o-linear-gradient(to left, red, yellow, green);
  background-image: linear-gradient(to left, red, yellow, green);
  opacity: 0.65;
  filter: alpha(opacity=65); /* For IE8 and earlier */
}

#legend {
  width: 30%;
  border-radius:5px;
  background: rgba(255, 255, 255, 0.6);
  padding: 6px;
  margin: 0;
  display: none;
}

#legend-labels {
  display: inline-block;
  width: 50%;
  line-height: 1;
}

.left {
  float:left;
  text-align: left;
}

.right {
  float:left;
  text-align: right;
}

#latitude, #longitude {
  display: none;
  opacity: 0;
}

#btnLocalization {
  text-align: center;
  height: 30px;
  width: 32px;
  background-image: url("../../images/localizacao.png");
  background-size: 30px 30px;
  padding: 0px;
  background-position: left;
  background-repeat: no-repeat;
}

.input-group {
  width: 100%;
}

#searchLocalization {
  height: 30px;
}

.clear {
  clear: both;
}

/*Media Queries*/
@media only screen and (max-width: 925px) {
  .wrap {
    max-width: 100%;
    margin: 0;
  }
  
  .nav {
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
  }
	       
  .nav ul {
    padding: .5em;
    margin: 0;
    background: #444;
  }		
	       
  li {
    margin: 0;
    padding: 0;
    display: block;
  }
       			
  li a {
    padding: 0.5em 0 0.5em 0;
    display: block;
    color: #FFF;
  }
  
  .nav-toggle {
    position: absolute;
    top: 0;
    color: #FFF;
    cursor: pointer;
    z-index: 1000;
    display: block;
    border-radius:5px;
    background: white;
    background-image: url("../../images/menu.png");
    background-size: 42px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0.665em;
    width: 3.2em;
    height: 2.8em;
  }
  
  #map-canvas {
    width: 100%;
    position: relative;
    float: none;
  }
}